* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 70%;
  height: 700px;
  overflow: auto;
  position: relative;
  left: 50px;
}

table {
  width: 50%;
  border-collapse: collapse;
  overflow: scroll;
}

th,
td {
  border: 2px solid black;
  color: blue;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}
